/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&family=Sarabun:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sarabun:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans:wght@400;600;800&family=Sarabun:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* EVERYTHING ELSE */

html,
body,
#root,
.app {
  height: 100%;
  /* background: rgb(15, 16, 25); */
  background: rgb(231, 231, 231);

  @apply text-white;
}

.content {
  box-shadow: 0px 0px 3px gray, 0px 0px 4px gray;
}

/* .text-shadow {
  text-shadow: 2px 2px 1px black, 0px 0px 1px rgb(0, 0, 0),
    0px 0px 4px rgb(0, 0, 0);
} */

/* BUTTON IMPORT STYLING */
.shadow-1 {
  box-shadow: 3px 3px 1px black;
}

.shadow-1:active {
  box-shadow: 2px 2px 1px black;
}

.shadow-2 {
  box-shadow: inset 0px 0px 4px black;
}

.shadow-3 {
  box-shadow: 3px 3px 1px black, inset 0px 0px 4px black;
}

.shadow-3:active {
  box-shadow: 2px 2px 1px black, inset 0px 0px 4px black;
}

.shadow-4 {
  box-shadow: 1px 1px 4px black;
}

.logo-shadow {
  text-shadow: 4px 4px 1px black;
}

.svg-shadow {
  filter: drop-shadow(4px 4px 1px black);
}

.logo-shadow-2 {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8),
    /* Outer glow */ 0 0 10px rgba(255, 0, 0, 0.6),
    /* Red glow */ 0 0 12px rgba(0, 255, 0, 0.6),
    /* Green glow */ 0 0 14px rgba(0, 0, 255, 0.6); /* Blue glow */
}

.logo-shadow-3 {
  /* Define the gradient as background */
  background: linear-gradient(180deg, #24cbff 14.53%, #fc59ff, #ffbd0c);

  /* Make the text transparent to show the background */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* Fallback for browsers that do not support background-clip: text; */
  display: inline-block;
}

.button-4 {
  box-shadow: inset 0px 0px 4px black, 0px 0px 2px black;
  transition: all;
  transition-duration: 50ms;
}

.button-4:hover {
  transform: translate(-1px, -1px);
  box-shadow: 1px 1px 3px black, 1px 1px 2px black;
}

.button-4:active {
  transform: translate(0.5px, 0.5px);
  box-shadow: inset 0px 0px 4px black;
  transition: all;
  transition-duration: 0ms;
}

.the-one {
  position: relative;
  display: inline-block; /* Adjust as needed */
  transition: background-image 0.1s ease;
}

.the-one::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background-image: linear-gradient(to right, #3b82f6, #2dd4bf);
  filter: blur(8px);
  border-radius: 4px; /* Adjust as needed */
  transition: opacity 0.3s ease;
}

.the-one:hover::after {
  opacity: 0; /* Hides the pseudo-element shadow */
}

/* LANDING----------------------------------------------------------------------------------------------- */
#LANDING {
  background-image: url("assets/bg-image.png");
  /* background-image: url("./assets/overhead mobile.jpg"); */

  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

@media (max-width: 768px) {
  #LANDING {
    background-size: 300%; /* Increase to zoom in */
    background-position: center center;
  }
}

.slogan {
  text-shadow: 1px 1px 1px black;
}

.icon {
  box-shadow: 2px 2px 4px gray;
}

/* ABOUT--------------------------------------------------------------------------------- */
.about-bg {
  background-image: url("./assets/overhead mobile.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1440px) {
  .about-bg {
    background-size: 120%; /* Increase to zoom in */
    background-position: center;
  }
}

@media (max-width: 1200px) {
  .about-bg {
    background-size: 140%; /* Increase to zoom in */
    background-position: center;
  }
}

@media (max-width: 1024px) {
  .about-bg {
    background-size: 240%; /* Increase to zoom in */
    background-position: center;
  }
}

@media (max-width: 768px) {
  .about-bg {
    background-size: 440%; /* Increase to zoom in */
    background-position: center;
  }
}

/* GALLERY--------------------------------------------------------------------------------------- */

.accent-div {
  background-image: linear-gradient(
    rgb(75, 85, 99),
    rgb(31, 41, 55)
  ); /* bg-gradient-gray-2 */
  box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.1),
    0 2px 4px -2px hsla(0, 0%, 0%, 0.1); /* shadow-4 */
  border-top: 1px solid hsl(216, 5%, 42%); /* border-t-gray-500 */
  border-bottom: 1px solid hsl(216, 25%, 15%); /* border-b-gray-900 */
  border-right: 1px solid hsl(216, 12%, 18%); /* border-r-gray-800 */
  border-left: 1px solid hsl(216, 13%, 20%); /* border-l-gray-700 */
}

/* TILE ANIMATION STYLING (desktop)========================================================================================*/
.skills {
  position: relative;
  overflow: hidden;
  border-radius: 0.375rem;
  font-family: "Questrial", sans-serif;
  box-shadow: 0px 4px 6px -2px hsla(0, 0%, 0%, 0.8),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.4);
}

.tile-icon {
  display: none;
}

.tile-name {
  position: absolute;
  font-size: 1.125rem;
  bottom: 0%;
  transition: all;
  transition-duration: 200ms;
  background-color: rgba(39, 39, 42, 0.7);
  padding: 8px;
  height: 45px;
  text-align: left;
  width: 100%;
}

.skills:hover .tile-name {
  height: 130px;
}

.tile-info {
  transition: opacity 300ms;
  opacity: 0;
  font-size: 1rem;
}

.skills:hover .tile-info {
  opacity: 1;
}

/* TILE ANIMATION STYLING (mobile)====================================================================*/
.skills-mobile {
  border-radius: 5px;
  transition: all;
  transition-duration: 300ms;
  overflow: hidden;
  position: relative;
  z-index: 20;
  box-shadow: 4px 4px 6px -1px hsla(0, 0%, 0%, 0.5);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.375rem; /* rounded-md */
  font-family: "questrial", sans-serif;
}

.skills-mobile.active.left {
  transform: scale(1.8) translateX(20%);
  z-index: 30;
}

@media (max-height: 440px) and (orientation: landscape) {
  .skills-mobile.active.left {
    transform: scale(1.8) translateX(20%);
    z-index: 30;
  }
}

.skills-mobile.active.right {
  transform: scale(1.8) translateX(-20%);
  z-index: 30;
}

.tile-icon-mobile {
  display: none;
}

.tile-name-mobile {
  position: absolute;
  bottom: 0%;
  transition: all;
  transition-duration: 200ms;
  background-color: rgba(39, 39, 42, 0.7);
  padding: 8px;
  height: 40px;
  text-align: left;
  width: 100%;
}

.skills-mobile.active .tile-name-mobile {
  height: 100%;
  font-size: 0.8rem;
  /* border-bottom: 1px solid #00a9ff; */
}

.tile-info-mobile {
  transition: all 200ms;
  opacity: 0;
  font-size: 0.6rem;
}

.skills-mobile.active .tile-info-mobile {
  opacity: 1;
}

/* CAROUSEL STYLING ---------------------------------------------------------------------------------------------*/
.carousel {
  box-shadow: 0px 4px 6px -2px hsla(0, 0%, 0%, 0.8),
    0px 2px 4px -1px hsla(0, 0%, 0%, 0.4);
}

.slides {
  transition: transform 0.3s ease-in-out;
}

/* ABOUT-------------------------------- */
.about-img {
  box-shadow: 2px 2px 2px gray;
}

.sunset-glow {
  box-shadow: 0 0 5px #38bdf8, /* Innermost sky-400 */ 0 0 10px #3b82f6,
    /* Middle blue-500 */ 0 0 10px #4f46e5,
    /* Outermost indigo-600 */ 0 0 10px #4f46e5; /* Extend the outer glow for a more pronounced effect */
}

.sunset-glow:hover {
  box-shadow: none;
}

.form {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.8);
}
