@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&family=Sarabun:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sarabun:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans:wght@400;600;800&family=Sarabun:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: #f4f4f4;
  @apply text-white;
}

/* NAVBAR---------------------------------------------------- */
#NAVBAR {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

/* LANDING--------------------------------------------------- */
#LANDING {
  background-image: url("assets/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

@media (max-width: 768px) {
  #LANDING {
    background-size: 300%; /* Increase to zoom in */
    background-position: center center;
  }
}

.slogan {
  text-shadow: 1px 1px 1px black;
}

.icon {
  box-shadow: 2px 2px 4px gray;
}

.contact,
.contact-info {
  box-shadow: 2px 2px 4px gray;
}

.contact:active {
  box-shadow: 1px 1px 2px gray;
}

/* TILE ANIMATION STYLING (desktop)*/
/* .skillbox {
  box-shadow: 2px 2px 4px gray;
} */

.skills {
  box-shadow: 2px 2px 4px gray;
  border-radius: 5px;
  transition: all;
  transition-duration: 200ms;
  overflow: hidden;
  background-color: white;
}

.skills:hover {
}

.tile-icon {
}

.skills:hover .tile-icon {
}

.tile-name {
}

.skills:hover .tile-name {
}

.tile-info {
}

.skills:hover .tile-info {
}

/* TILE ANIMATION STYLING (mobile)*/

.skills-mobile {
  box-shadow: 2px 2px 4px gray;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
  height: 88px;
  transition: transform;
  transition-duration: 300ms;
  overflow: hidden;
}

.skills-mobile.active {
  transform: scale(160%);
}

.tile-icon-mobile {
  color: black;
  width: 2rem;
  transition: all;
  transition-duration: 300ms;
  transform: translateY(40%);
}

.skills-mobile.active .tile-icon-mobile {
  width: 0;
}

.tile-name-mobile {
  color: black;
  transition: all;
  transition-duration: 300ms;
  font-size: 1.2rem;
  font-family: "Heebo";
  transform: translateY(50%);
}

.skills-mobile.active .tile-name-mobile {
  transform: translateY(-30%);
}

.tile-info-mobile {
  color: black;
  transition: all;
  transition-duration: 300ms;
  font-size: 0.85rem;
  font-family: "Heebo";
  transform: translateY(150%);
  opacity: 0;
  height: 40%;
  width: 90%;
  text-align: center;
}

.skills-mobile.active .tile-info-mobile {
  transform: translateY(-22%);
  opacity: 1;
  height: 60%;
}

/* NAVLINK STYLING */
/* .navlink {
  background-color: white;
  display: inline-block;
} */
